{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CV Jose DACOSTA</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    <script src="{% static 'js/script.js' %}"></script>
</head>

<header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <i class="fas fa-bars fa-lg"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
        <ul class="nav nav-pills navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Moi</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_index' %}">Projets</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_us' %}">Contact</a></li>
        </ul>
    </div>
</nav>
</header>
<body data-spy="scroll" data-target=".navbar" data-offset="60">




<div class="container">
    {% block page_content %}

    {% endblock %}
    <br>
    <footer class="text-center">
        <a href="#about">
            <span class="fas fa-chevron-up"></span>
        </a>
        <h5>© Jose DACOSTA</h5>
        <div class="attribution" style="width: 100px; height: 100px;">
            <a href="https://buttercms.com">
                <img src="{% static 'img/butter-y.png' %}" class="img-fluid rounded b-shadow-a" alt="">
            </a>
        </div>
    </footer>

</div>

</body>


</html>