{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Why</h5>
    <div class="card-body">
        <p class="card-text"> I want to share with you some projects I have done. You can explore and access for some of them to the GIT repo. So you can help sometimes to solve issues and make your contribution.<br>Enjoy!!!</p>
    </div>
</div>
</div>

{% endblock sidebar %}