{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <section id="about" class="container-fluid">
        <div class="col-8 col-lg-4 profile-picture">
            <img src="{% static 'img/me.jpg' %}" alt="John" class="rounded-circle">
        </div>
        <div class="heading">
            <h1>Hello, c'est moi José</h1>
            <h3>Développeur Web</h3>
            <a href="{% url 'about' %}" class="button1">Voir Plus</a>
        </div>
    </section>
    <br>
    <section id="project" class="container-fluid">
        <div class="last projects">
            <div class="heading">
                <h2>Lastest Projects</h2>
            </div>
            <div class="row">
                {% if latest_projects_list %}
                    {% for project in latest_projects_list %}
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ project.image.url }}" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.title }}</h5>
                                    <p class="card-text">{{ project.description }}</p>
                                    <a href="{% url 'project_detail' project.pk %}"
                                       class="button1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <br>
    <section id="post" class="container-fluid">
        <div class="last posts">
            <div class="heading">
                <h2>Latest Post</h2>
            </div>
            <div class="row">
                {% if recent_posts %}
                    {% for post in recent_posts %}
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.meta_description }}</p>
                                    <a href="{% url 'blog_post' post.slug %}"
                                       class="button1">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}